---
import Layout from "../../layouts/Layout.astro";
---

<!--
  Route rule:
  - src/pages/blog/index.astro -> /blog

  This is a simple manual blog index.
  "Manual" means you add links here yourself when you create new posts.
-->
<Layout title="Blog">
  <h1>Blog</h1>
  <p>Here, I intend to make a personal blog about
    my car's status. Stuff like maintenance, modification,
  etc.</p>

  <ul>
    <li>
      <a href="/blog/first-post">First Post</a>
    </li>
  </ul>
</Layout>
