---
// Import the shared layout.
// All pages will use the same nav and page structure from this file.
import Layout from "../layouts/Layout.astro";
---

<!--
  This is your Home page.
  Route rule in Astro:
  - src/pages/index.astro -> /
-->
<Layout title="About">
  <h1>About</h1>

  <p> My name is Alejandro Haerter.
  I'm a junior at the University of Connecticut
	studying Mathematics, Statistics, and Economics.</p>
  <p>I made this website serves as a personal project,
    and hosts some photos of mine.</p>
  <p>Please contact me at alejandro.haerter@uconn.edu</p>

  <h2>On this site:</h2>
  <ul>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/photo">Fiji Blue Pearl</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</Layout>
