---
import Layout from "../layouts/Layout.astro";
---

<!--
  Route rule:
  - src/pages/projects.astro -> /projects
-->
<Layout title="Projects">
  <h1>Projects</h1>

  <p>A few projects of mine.</p>

  <h2>STAT 3255 Contributor</h2>
  <p>I contributed a section on GeoPandas
    to the class notes for STAT 3255: Intro to Data Science.
  </p>
  <p>
    GitHub:
    <a href="https://github.com/statds/ids-f25">Repository</a>
  </p>
  <p>
    Live link:
    <a href="https://statds.github.io/ids-f25/">Demo</a>
  </p>

  <h2>Personal Website</h2>
  <p>This website is a project of mine!</p>
  <p>
    GitHub:
    <a href="https://github.com/ahaerter/ahaerter.github.io">Repository</a>
  </p>
  <p>
    Live link:
    <a href="https://ahaerter.github.io">Demo</a>
  </p>
</Layout>
